@font-face {
    font-family: "Inter Black";
    src: url("../font/Inter-Black.ttf");
}
@font-face {
    font-family: "Inter Bold";
    src: url("../font/Inter-Bold.ttf");
}
@font-face {
    font-family: "Inter Light";
    src: url("../font/Inter-Light.ttf");
}
@font-face {
    font-family: "Inter Medium";
    src: url("../font/Inter-Medium.ttf");
}
@font-face {
    font-family: "Inter Regular";
    src: url("../font/Inter-Regular.ttf");
}
@font-face {
    font-family: "Inter SemiBold";
    src: url("../font/Inter-SemiBold.ttf");
}

/*

LOGIN WINDOW STYLE

*/
.anchor-pane {
    -fx-background-color: #FFF2E9;
}
#usPassText, #usLoginText {
    -fx-background-color: white;
    -fx-background-radius: 5 5 5 5;
}
#nameTabText, #nameTabText1 {
    -fx-font-size: 16px;
    -fx-font-family: "Inter Bold";
}
#welcomeText {
    -fx-font-size: 32px;
    -fx-font-family: "Inter Bold";
    -fx-text-fill: #141B34;
}
#loginButton, #exitButton  {
    -fx-pref-width: 212px;
    -fx-pref-height: 47px;

    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #FF924B;

    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Inter SemiBold";

    -fx-cursor: hand;
}
#loginByGoogleButton {
    -fx-cursor: hand;
}
#loginErrorValidLabel, #loginErrorConectionLabel {
    -fx-font-size: 13px;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #FF473C;
}

/*

CATEGORY WINDOW STYLE

*/
.anchor-pane-category {
    -fx-background-color: #FFFFFF;
}
.hello-label {
    -fx-font-size: 16px;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #636363;
}
.help-label {
    -fx-font-size: 12px;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #636363;
}
.help-label-link {
    -fx-font-size: 12px;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #FE9C43;
}
.menu-burro {
    -fx-background-color: #FF9D55;
}
.vacancy-label {
    -fx-font-size: 16px;
    -fx-font-family: "Inter SemiBold";
    -fx-text-fill: white;
}
.desc-menu-bar {
    -fx-font-size: 13px;
    -fx-font-family: "Inter SemiBold";
    -fx-text-fill: white;
    -fx-text-alignment: CENTER;
}
.copyright-text {
    -fx-font-size: 8px;
    -fx-font-family: "Inter SemiBold";
    -fx-text-fill: white;
}
.category-pane-div {
    -fx-background-color: grey;
}
#userLoginLabel, #userAccessLabel, #userPasswordLabel,
#userLoginLabelText, #userAccessLabelText {
    -fx-font-size: 12px;
    -fx-font-family: "Inter SemiBold";
    -fx-text-fill: white;
}
#handleLogoutButton {
    -fx-cursor: hand;
}
.category-it-div {
    -fx-background-image: url("../image/backgrounds/category-it-card.png");
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}
.category-digMarketing-div {
    -fx-background-image: url("../image/backgrounds/category-digMarketing-card.png");
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}
.category-health-div {
    -fx-background-image: url("../image/backgrounds/category-health-card.png");
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}
.category-security-div {
    -fx-background-image: url("../image/backgrounds/category-security-card.png");
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}
.category-science-div {
    -fx-background-image: url("../image/backgrounds/category-science-card.png");
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}
.category-none-div {
/*    -fx-background-image: url("../image/backgrounds/category-unknown-card.png");*/
/*    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);*/
    -fx-effect: innershadow( gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0,0 );
    -fx-background-color: white;
    -fx-background-radius: 10 10 10 10;
}
.category-ok-button {
    -fx-background-color: #D3C1A3;
    -fx-background-radius: 10 10 10 10;

    -fx-font-size: 12px;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: white;
}

/*

TABLEVIEW WINDOW STYLE

*/
/* Установить цвет фона для заголовков колонок */
.table-view .column-header-background .label {
    -fx-background-color: #e0e0e0;
}

/* Установить цвет текста для заголовков колонок */
.table-view .column-header .label {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

/* Установить цвет фона для ячеек колонок при наведении курсора */
.table-row-cell:hover .table-cell {
    -fx-background-color: #f8ab85;
}

/* Установить цвет текста для ячеек колонок при наведении курсора */
.table-row-cell:hover .table-cell .label {
    -fx-text-fill: #000000;
}

/* Установить цвет фона для ячеек колонок при выделении строки */
.table-row-cell:selected .table-cell {
    -fx-background-color: #ff894d;
}

/* Установить цвет текста для ячеек колонок при выделении строки */
.table-row-cell:selected .table-cell .label {
    -fx-text-fill: white;
}

#addNewVacancyButton, #updateVacancyButton, #deleteVacancyButton,
#addNewWorkerButton, #updateWorkerButton, #deleteWorkerButton,
#addNewFormButton, #updateFormButton, #deleteFormButton {
    -fx-pref-width: 89px;
    -fx-pref-height: 20px;

    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #FF924B;

    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Inter SemiBold";

    -fx-cursor: hand;
}
.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-selection-bar: transparent;
}
.table-view .table-cell {
    -fx-table-cell-border-color: transparent;
}
.table-view .scroll-bar * {
/*    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;*/

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
