@font-face {
    font-family: "Inter Black";
    src: url("../font/Inter-Black.ttf");
}
@font-face {
    font-family: "Inter Bold";
    src: url("../font/Inter-Bold.ttf");
}
@font-face {
    font-family: "Inter Light";
    src: url("../font/Inter-Light.ttf");
}
@font-face {
    font-family: "Inter Medium";
    src: url("../font/Inter-Medium.ttf");
}
@font-face {
    font-family: "Inter Regular";
    src: url("../font/Inter-Regular.ttf");
}
@font-face {
    font-family: "Inter SemiBold";
    src: url("../font/Inter-SemiBold.ttf");
}

/*

LOGIN WINDOW STYLE

*/
.anchor-pane {
    -fx-background-color: #FFF2E9;
}
#usPassText, #usLoginText {
    -fx-background-color: white;
    -fx-background-radius: 5 5 5 5;
}
#nameTabText, #nameTabText1 {
    -fx-font-size: 16px;
    -fx-font-family: "Inter Bold";
}
#welcomeText {
    -fx-font-size: 32px;
    -fx-font-family: "Inter Bold";
    -fx-text-fill: #141B34;
}
#loginButton, #exitButton {
    -fx-pref-width: 212px;
    -fx-pref-height: 47px;

    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #FF924B;

    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Inter SemiBold";

    -fx-cursor: hand;
}
#loginByGoogleButton {
    -fx-cursor: hand;
}
#loginErrorValidLabel, #loginErrorConectionLabel {
    -fx-font-size: 13px;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #FF473C;
}

/*

CATEGORY WINDOW STYLE

*/
.anchor-pane-category {
    -fx-background-color: #FFFFFF;
}
.hello-label {
    -fx-font-size: 16px;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #636363;
}
.help-label {
    -fx-font-size: 12px;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #636363;
}
.help-label-link {
    -fx-font-size: 12px;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #FE9C43;
}
.menu-burro {
    -fx-background-color: #FF9D55;
}
.vacancy-label {
    -fx-font-size: 16px;
    -fx-font-family: "Inter SemiBold";
    -fx-text-fill: white;
}
.desc-menu-bar {
    -fx-font-size: 13px;
    -fx-font-family: "Inter SemiBold";
    -fx-text-fill: white;
    -fx-text-alignment: CENTER;
}
.copyright-text {
    -fx-font-size: 8px;
    -fx-font-family: "Inter SemiBold";
    -fx-text-fill: white;
}
.category-pane-div {
    -fx-background-color: grey;
}
#userLoginLabel, #userAccessLabel, #userPasswordLabel,
#userLoginLabelText, #userAccessLabelText {
    -fx-font-size: 12px;
    -fx-font-family: "Inter SemiBold";
    -fx-text-fill: white;
}
#handleLogoutButton {
    -fx-cursor: hand;
}
.category-it-div {
    -fx-background-image: url("../image/backgrounds/category-it-card.png");
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}
.category-digMarketing-div {
    -fx-background-image: url("../image/backgrounds/category-digMarketing-card.png");
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}
.category-health-div {
    -fx-background-image: url("../image/backgrounds/category-health-card.png");
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}
.category-security-div {
    -fx-background-image: url("../image/backgrounds/category-security-card.png");
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}
.category-science-div {
    -fx-background-image: url("../image/backgrounds/category-science-card.png");
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}
.category-none-div {
/*    -fx-background-image: url("../image/backgrounds/category-unknown-card.png");*/
/*    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);*/
    -fx-effect: innershadow( gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0,0 );
    -fx-background-color: white;
    -fx-background-radius: 10 10 10 10;
}
.category-ok-button {
    -fx-background-color: #D3C1A3;
    -fx-background-radius: 10 10 10 10;

    -fx-font-size: 12px;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: white;
}